.App {
  text-align: center;
  background-color: rgb(87, 85, 85);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.page {
  margin-top: 10vh;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-head {
  height: 30vh;
}

.home-body {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body-left {
  width: 30vw;
  background-color: rgba(115, 34, 177, .3);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid rgba(115, 34, 177, .4);
  border-right: none;
}

.body-right {
  width: 60vw;
  background-color: rgba(115, 34, 177, .1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgba(115, 34, 177, .4);
  border-left: none;
}

.home-footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.color-break {
  height: 60%;
}

.contacts {
  height: 40%;
  background-color: rgba(107, 9, 181, 0.326);
  border-top: 2px solid rgba(115, 34, 177, .8);
}


.nav {
  padding: 1.2em;
  background-color: rgba(107, 9, 181, 0.4);
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid rgba(99, 12, 166, 0.8);
}

.link {
  text-decoration: none;
  color:rgb(242, 238, 238);
  margin: 2em;
  font-size: 1.5em;
}

.link:hover {
  cursor: pointer;
  color:rgb(184, 180, 180);
}

.link:active {
  color:rgb(65, 63, 63);
}


.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form {
  height: 20vh;
  width: 90vw;
  margin: 1em;
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

textarea {
  width: 100%;
  height: 90%;
  font-size: 1.4rem;
  padding: .5em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid rgba(115, 34, 177, .4);
  border-right: none;
}

.send {
  height: 21vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgba(115, 34, 177, .4);
  border-left: none;
}

.send:hover {
  cursor: pointer;
  background-color: rgb(115, 34, 177);
}

.send:active {
  background-color: rgb(78, 23, 120);
}


img {
  width: 35px;
  height: 35px;
}




.chatStripe {
  display: flex;
  text-align: left;
  width: 98vw;
  margin: 0 auto;
  border-top: solid 1px rgba(115, 34, 177, .5);
}

.profile, .message {
  margin: 1% 2%;
}


.loader {
  position: relative;
  width: 300px;
  height: 60px;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.loader-comp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.loader-dot {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader-mask {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 50%;
  background-color: rgb(87, 85, 85);
  animation: load 1s infinite steps(1);
}

@keyframes load {
  0% {
    width: 100%;
  }
  20% {
    width: 70%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 20%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}