.App {
  text-align: center;
  background-color: rgb(18, 17, 17);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.nav {
  padding: 1.2em;
}

.chat {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form {
  height: 20%;
}

textarea {
    width: 90%;
    height: 90%;
}

img {
  width: 50px;
  height: 50px;
}


.link {
  text-decoration: none;
  color:rgb(18, 17, 17);
  margin: 2em;
  font-size: 1.5em;
}

.chatStripe {
  display: flex;
  text-align: left;
}

.profile, .message {
  margin: 2%;
}


.loader {
  position: relative;
  width: 300px;
  height: 60px;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.loader-comp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.loader-dot {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 17, 17);
  animation: load 1s infinite steps(1);
}

@keyframes load {
  0% {
    width: 100%;
  }
  20% {
    width: 70%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 20%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}