.App {
  text-align: center;
}

.chat {
  width: 90vw;
  height: 90vh;
  display: flex;
}

form {
    width: 90%;
    height: 90%;
}

textarea {
    width: 90%;
    height: 90%;
}

img {
  width: 200px;
  height: 200px;
}

#test {
  height: 600px;
  width: 600px;
  background-color: rgb(170, 34, 34);
}